.tool__bar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #264e70;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  padding: 0 20px;

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    justify-content: space-between;
  }
}

.tool__bar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .desktop__only {
    display: none;
  }
}
