.navigation__item {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.navigation__item a {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navigation__item a:hover,
.navigation__item a:active,
.navigation__item a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .navigation__item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .navigation__item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navigation__item a:hover,
  .navigation__item a:active,
  .navigation__item a.active {
    background-color: #2a517e;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
